<!DOCTYPE html>
<html>

<head>
    <title>Quản lý lớp</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>

@RenderBody()



</html>