<body>
    <div class="container">
        <h1>HỆ THỐNG QUẢN LÝ TRUNG TÂM ANH NGỮ</h1>
    </div>

    <br>

    <div style="text-align:center;">
        <h2>Đăng nhập tài khoản</h2>
    </div>

    <form action="~/QLAN/TrangChu" method="POST">
        <div>
            <label for="username">Tên tài khoản:</label>
            <input type="text" id="username" name="username" placeholder="username">
        </div>

        <br>

        <div>
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" placeholder="password">
        </div>

        <br>

        <div>
            <button type="submit">ĐĂNG NHẬP</button>
        </div>
    </form>
</body>