body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1763a1;
    color: #fff;
    text-align: center;
    padding: 1px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 30px;
    width: 100%;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    width: calc(96% - 10px);
}

input[type="password"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    width: calc(96% - 10px);
}
  
button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    font-size: 15px;
    padding: 15px;
    width: 100%;
}
  
button[type="submit"]:hover {
    background-color: #409440;
}

.container-index {
    background-color: #1763a1;
    color: #fff;
    text-align: center;
    padding: 1px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
}
  
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.carousel {
    width:670px;
    height:390px;
}

.search-container {
    position: relative;
}

.search-container input[type="search"] {
    padding-left: 30px;
    padding-right: 10px;
}

.search-container .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
}